---
url_back: "http://localhost:1337"
nom_boutique: "Tip Top"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ nom_boutique }}</title>
    <style>:not(:defined) {visibility: hidden;}</style>
</head>
<body>

    <sl-tab-group id="main_menu">
        <sl-tab slot="nav" panel="home">Home</sl-tab>
        <sl-tab slot="nav" panel="commande">Commande</sl-tab>
        <sl-tab slot="nav" panel="boutique">Boutique</sl-tab>

        {% include "carou-message.html" %}

        <sl-tab-panel name="home">
            {% include "produit.html" %}
        </sl-tab-panel>

        <sl-tab-panel name="commande">
                {% include "form-commande.html" %}
        </sl-tab-panel>

        <sl-tab-panel name="boutique">
            {% include "boutique.html" %}
        </sl-tab-panel>

    </sl-tab-group>

    <aside>
        {% include "panier.html" %}
    </aside>
    <footer>
        {% include "btn-ouvrir-panier.html" %}
        &copy;Pigeon.com
    </footer>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/shoelace-autoloader.js"></script>
    <script>
        let elems = {}
        document.querySelectorAll('[id]').forEach(e => elems[e.id] = e)
    </script>
</body>
</html>