<div id="boutique">
</div>

<script>
    const CATALOGUE = {
        produits: [],
        get(id){
            return this.produits.filter(p => p.id === id)[0]
        },

        afficher(){
            for(let p of this.produits){
                elems.boutique.innerHTML += `
                <sl-card class="produit">
                  <strong>${p.attributes.Nom}</strong>
                  <div slot="footer">
                    <div class="prix">$${p.attributes.Prix}</div>
                    <sl-button onclick="PANIER.ajouter(${p.id})" variant="primary" pill>ACHETE !</sl-button>
                  </div>
                </sl-card>
                `
            }
        }
    }

    fetch('{{ url_back }}/api/produits/')
        .then(response => response.json())
        .then(JsonData => {
            CATALOGUE.produits = JsonData.data
            CATALOGUE.afficher()
        })
</script>

<style>
    #boutique{
        display: flex;
    }
    #boutique .produit{
        min-width: 300px;
    }
</style>