<sl-animation name="bounce" iterations="1">
    <div id="btn_panier">
        <sl-icon-button
                name="basket3"
                label="Panier"
                style="font-size: 2.5rem;"
                onclick="elems.panier.show()"
        >
        </sl-icon-button>
        <sl-badge pill>0</sl-badge>
    </div>
</sl-animation>

<style>
    #btn_panier{
        position: fixed;
        right: 2rem;
        top: 2rem;
    }
    #btn_panier sl-icon-button{
        border-radius: 50%;
        background: var(--sl-color-neutral-200);
    }
    #btn_panier sl-badge{
        position: relative;
        top: -40px;
        right: 20px;
    }
</style>