<sl-carousel id="carouMessage" loop autoplay autoplay-interval="2000" style="--aspect-ratio:20/1">
</sl-carousel>

<script>
    let messages
    fetch('{{ url_back }}/api/messages/')
        .then(response => response.json())
        .then(JsonData => {
            messages = JsonData.data
            for(let message of messages){
                let item = document.createElement('sl-carousel-item')
                item.innerText = message.attributes.texte
                elems.carouMessage.appendChild(item)
            }
        })
</script>