<div style="display: flex; width: 100%; justify-content: space-around">
    <div id="cmd_commande"></div>
    <form id="form_client">
        <sl-input class="tohide" name="nom" label="Votre nom" required></sl-input>
        <sl-textarea class="tohide" name="adresse" label="Votre adresse" required></sl-textarea>
        <sl-input class="tohide" name="tel" label="Votre téléphone" required></sl-input>
        <sl-input class="tohide" type="email" name="email" label="Votre mail" required></sl-input>
        <sl-divider></sl-divider>
        <sl-button type="submit" variant="primary">ACHETER !</sl-button>
    </form>
</div>

<script type="module">
    import { serialize } from 'https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.4.0/dist/utilities/form.js';
    let client, id_cmd, id_client
    elems.form_client.addEventListener('submit', async event => {
        event.preventDefault();
        // si j'ai pas encore le client
        if (!client) {
            // je recup les données du client dans le formulaire
            client = serialize(elems.form_client);

            // un client avec le même mail existe ?
            let c = await fetch(`{{ url_back }}/api/clients?filters[email][$eq]=${client.email}`)
            //Si il existe id_client vaudra qq chose. Sinon il sera undefined
            id_client = (await c.json()).data[0]?.id

            // sinon (id_client est toujours undefined) on le créé
            if(! id_client){
                let d = await fetch(`{{ url_back }}/api/clients/`, {
                    method: 'POST',
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({data: client})
                })
                id_client = (await d.json()).data.id
            }
        }

        // créer la cmd
        fetch('{{ url_back }}/api/commandes', {
            method: 'POST',
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({data: {}})
        })  // une fois la commande créée
            .then(async reponses => {
                // je recup l'id de la commande
                id_cmd = (await reponses.json()).data.id
                // lier la commande avec le client
                fetch(`{{ url_back }}/api/commandes/${id_cmd}`, {
                    method: 'PUT',
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({data: {client: id_client}})
                })
                // ajouter toutes les lignes à la commande
                for (let ligne of PANIER.lignes) {
                    let data = {
                        "data": {
                            "commande": id_cmd,
                            "produit": ligne.prod.id,
                            "qt": ligne.qt
                        }
                    }
                    fetch(`{{ url_back }}/api/ligne-commandes`, {
                        method: 'POST',
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify(data)
                    })
                }
                // je m'occupe du visuel
                // je vide le panier
                PANIER.vider()
                // je cache les inputs du formulaire
                elems.form_client.querySelectorAll('.tohide').forEach(e => e.style.display = "none")
                // j'affiche le message de confirmation
                elems.form_client.innerHTML += `
                <sl-alert variant="success" open>
                    <sl-icon slot="icon" name="info-circle"></sl-icon>
                    <strong>ID : ${id_cmd}</strong>
                    <p>Super votre commande a bien été enregistrée !</p>
                </sl-alert>`
        })
    });
</script>