<sl-drawer id="panier" label="Votre Panier" class="panier">
    <sl-icon-button name="basket3" slot="header-actions"></sl-icon-button>

    <div id="cmd_panier"></div>
    <sl-divider></sl-divider>
    <sl-button
            variant="success"
            onclick="elems.main_menu.show('commande'); elems.panier.hide()"
    >Valider</sl-button>
</sl-drawer>

<script>
    const PANIER = {
        lignes: [],
        total: 0,
        ajouter(produit){
            // si produit c'est un objet produit ca marche
            // si c'est un id ca marche aussi.
            if(! produit.id){
                produit = CATALOGUE.get(produit)
            }
            if( this.lignes.filter(l => l.prod.id === produit.id).length ){
                this.lignes.filter(l => l.prod.id === produit.id)[0].qt++
            }else {
                this.lignes.push({prod: produit, qt: 1})
            }
            this.total = this.lignes.reduce((acc, l) => acc + (l.prod.attributes.Prix * l.qt), 0)
            elems.btn_panier.parentNode.play = true
            elems.btn_panier.querySelector('sl-badge').innerText = this.lignes.reduce((a, l) => a+l.qt, 0)
            elems.cmd_commande.innerHTML = ""
            elems.cmd_panier.innerHTML = ""
            elems.cmd_panier.appendChild(this.getHTML())
            elems.cmd_commande.appendChild(this.getHTML())
        },

        getHTML(){
            let div = document.createElement('div')
            let ul = document.createElement('ul')
            for(let ligne of this.lignes){
                if(ligne){
                    ul.innerHTML += `<li>${ligne.prod.attributes.Nom} x ${ligne.qt}</li>`
                }
            }
            div.appendChild(ul)
            div.innerHTML +=`
                <sl-divider></sl-divider>
                Total : $${this.total.toFixed(2)}
                `
            return div
        },

        vider(){
            this.lignes = []
            this.total = 0
            elems.btn_panier.querySelector('sl-badge').innerText = 0
            elems.cmd_commande.innerHTML = ""
            elems.cmd_panier.innerHTML = ""
            elems.cmd_panier.appendChild(PANIER.getHTML())
            elems.cmd_commande.appendChild(PANIER.getHTML())
        }
    }
</script>