<sl-card class="produit">
  <img
          slot="image"
          src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
          alt="A kitten sits patiently between a terracotta pot and decorative grasses."
  />

  <strong id="nomProd">NOM PRODUIT</strong><br />
  <div slot="footer">
    <div class="prix" id="prixProd">PRIX $</div>
    <sl-button onclick="PANIER.ajouter(megaprod)" variant="primary" pill>ACHETE !</sl-button>
  </div>
</sl-card>

<style>
  .produit [slot='footer'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<script>
  let megaprod
  fetch('{{ url_back }}/api/produits/1')
          .then(response => response.json())
          .then(JsonData => {
            megaprod = JsonData.data
            elems.nomProd.innerText = megaprod.attributes.Nom
            elems.prixProd.innerText = megaprod.attributes.Prix
          })
</script>